<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <a class="navbar-brand">Ejercicio</a>
    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Componente1">componente1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Componente2">componente2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Componente3">componente3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Ejemplo">ejemploapi</a>
            </li>
        </ul>
    </div>
</nav>

