<div style="margin: 20px;">
    <h1>Catalogos de productos</h1>
    @if (listaProductos.length >0) {
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          @for (producto of listaProductos; track producto.id) {
            <tr>
              <td>{{producto.id}}</td>
              <td>{{producto.descripcion}}</td> 
              <td>{{producto.precio}}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="seleccionarProducto(producto)">Seleccionar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <h3>No hay productos</h3>
    }
  
    <div>
      <p>
        ID: <input type="number" class="form-control"
        [(ngModel)]="producto.id" />
      </p>
      <p>
        Descripcion: <input type="text" class="form-control"
        [(ngModel)]="producto.descripcion" />
      </p>
      <p>
        Precio: <input type="number" class="form-control"
        [(ngModel)]="producto.precio" />
      </p>
      <button type="button" class="btn btn-primary"
      (click)="agregarProducto()">Agregar</button>
      <button type="button" class="btn btn-sucess"
      (click)="modificarProducto()">Modificar</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>
